<launch>
  <arg name="namespace" default="global_mapper" />
  <arg name="manager" default="global_mapper_manager" />
  <arg name="standalone" default="true" />
  <arg name="load_params" default="true" />
  <arg name="param_file" default="global_mapper.yaml" />

  <group ns="$(arg namespace)" >
    <!-- manager -->
    <node if="$(arg standalone)"
          pkg="nodelet" type="nodelet" name="$(arg manager)"
          args="manager" output="screen" >
      <!-- params -->
      <rosparam command="load" if="$(arg load_params)" file="$(find global_mapper)/cfg/$(arg param_file)"/>

      <!-- remaps -->
      <remap from="cloud_topic" to="/flight/xtion_depth/points" />
      <remap from="~pixel_map_topic" to="~pixel_map" />
      <remap from="~voxel_map_topic" to="~voxel_map" />
    </node>

    <!-- nodelet -->
    <node pkg="nodelet" type="nodelet" name="global_mapper"
          args="load global_mapper/GlobalMapperNodelet $(arg manager)" output="screen">
    </node>
  </group>
</launch>
